<div class="container">
    <!-- Imagen alineada con el formulario -->
    <img src="imagenes/iconoParqueadero.jpg" alt="Imagen de Registro" class="registro-img">
   
    <form [formGroup]="registroForm" (ngSubmit)="CreateUser()">
       
        <!-- Campo Nombre -->
        <div class="form-group">
            <label for="nombre">Nombre*:</label>
            <input id="nombre" type="text" formControlName="nombre">
            <small *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched">
                El nombre es obligatorio.
            </small>
        </div>

        <!-- Campo Apellido -->
        <div class="form-group">
            <label for="apellido">Apellido*:</label>
            <input id="apellido" type="text" formControlName="apellido">
            <small *ngIf="registroForm.get('apellido')?.invalid && registroForm.get('apellido')?.touched">
                El apellido es obligatorio.
            </small>
        </div>

        <!-- Campo Dirección -->
        <div class="form-group">
            <label for="direccion">Dirección*:</label>
            <input id="direccion" type="text" formControlName="direccion">
            <small *ngIf="registroForm.get('direccion')?.invalid && registroForm.get('direccion')?.touched">
                La dirección es obligatoria.
            </small>
        </div>

        <!-- Campo Email -->
        <div class="form-group">
            <label for="Email">Email*:</label>
            <input id="Email" type="email" formControlName="email">
            <small *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched">
                El email es obligatorio.
            </small>
        </div>

         <!-- Campo telefono -->
         <div class="form-group">
            <label for="telefono">Telefono*:</label>
            <input id="telefono" type="text" formControlName="telefono">
            <small *ngIf="registroForm.get('telefono')?.invalid && registroForm.get('telefono')?.touched">
                El telefono es obligatorio.
            </small>
        </div>

         <!-- Campo rol -->
         <div class="form-group">
            <label for="rol">Rol*:</label>
            <input id="rol" type="text" formControlName="rol">
            <small *ngIf="registroForm.get('rol')?.invalid && registroForm.get('rol')?.touched">
                El rol es obligatorio.
            </small>
        </div>
        
        <!-- Campo Usuario -->
        <div class="form-group">
            <label for="Usuario">Usuario*:</label>
            <input id="Usuario" type="text" formControlName="userName">
            <small *ngIf="registroForm.get('userName')?.invalid && registroForm.get('userName')?.touched">
                El usuario es obligatorio.
            </small>
        </div>

        <!-- Campo Contraseña -->
        <div class="form-group">
            <label for="contraseña">Contraseña*:</label>
            <input id="contrasenia" type="password" formControlName="contrasenia">
            <small *ngIf="registroForm.get('contrasenia')?.invalid && registroForm.get('contrasenia')?.touched">
                La contraseña es obligatoria y debe tener un máximo de 7 caracteres.
            </small>
        </div>

        <!-- Campo Validar Contraseña -->
        <div class="form-group">
            <label for="Validarcontraseña">Confirmar Contraseña*:</label>
            <input id="Validarcontrasenia" type="password" formControlName="Validarcontrasenia">
            <small *ngIf="registroForm.get('Validarcontrasenia')?.invalid && registroForm.get('Validarcontrasenia')?.touched">
                Debes confirmar tu contraseña.
            </small>
        </div>

        <!-- Botón de Envío -->
        <button type="submit" [disabled]="registroForm.invalid">Registrar</button>
    </form>
</div>
