/* Centrado del contenido dentro del footer */
.footer .container {
    display: flex; /* Usa Flexbox para organizar el contenido del footer */
    flex-direction: column; /* Organiza los elementos en una columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Asegura que el texto esté alineado al centro */
  }
  
  /* Estilo del mensaje dentro del footer */
  #mensaje {
    font-weight: bold; /* Hace el texto del mensaje en negrita */
    font-size: 1.2em; /* Tamaño de fuente para el mensaje */
  }
  
  /* Si quieres un poco de espacio por encima del footer */
  .content {
    padding-bottom: 100px; /* Agrega espacio al final de la sección anterior al footer */
  }
  
  /* Estilo para que el footer quede fijo en la parte inferior */
  .footer {
    position: fixed; /* Fija el footer en la pantalla, incluso al hacer scroll */
    bottom: 0; /* Ubica el footer en la parte inferior de la ventana */
    left: 0; /* Alinea el footer al borde izquierdo */
    width: 100%; /* Hace que el footer ocupe el 100% del ancho de la pantalla */
    background-color: #eec7e2; /* Define el color de fondo del footer */
    color: #fff; /* Define el color del texto en blanco */
    padding: 1px 0; /* Agrega un pequeño padding vertical */
    z-index: 1000; /* Asegura que el footer esté sobre otros elementos */
    text-align: center; /* Centra el texto dentro del footer */}