<div class="home-container">
    <div class="logo">
        <img src="imagenes/iconoParqueadero.jpg" alt="Las Villas">
    </div>

    <table class="tabla-tarifas">
        <thead>
            <tr>
                <th>TIPO DE VEHÍCULO</th>
                <th>POR ½ HORA</th>
                <th>POR HORA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="imagenes/carro.png" alt="Auto"> Automóviles</td>
                <td>$2.700</td>
                <td>$3.800</td>
            </tr>
            <tr>
                <td><img src="imagenes/camion.png" alt="Camión"> Camionetas</td>
                <td>$3.000</td>
                <td>$4.200</td>
            </tr>
            <tr>
                <td><img src="imagenes/moto.png" alt="Moto"> Motos</td>
                <td>$1.600</td>
                <td>$2.100</td>
            </tr>
            <tr>
                <td><img src="imagenes/bicicleta.png" alt="Bicicleta"> Bicicletas</td>
                <td>$1.400</td>
                <td>$1.800</td>
                
            </tr>
        </tbody>
    </table>
</div>
